
@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoRegular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoBold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cardo";
    src: url("../fonts/CardoBold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "ALAunt_Marie";
    src: url("../fonts/AL_Aunt_Marie.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
            


    body{
        font-family: Lato, Arial, sans-serif;
        font-weight: normal;
        font-size: 10px;
    }
    

a:link {
	color: #D72020;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a:visited {
	color: #D72020;
}